* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

body {
    font-size: 1.6rem;
    font-family: 'DM Sans', sans-serif;
}

.container {
    width: min(68rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
    text-align: center;
    padding-top: 3rem;
}

.container h1 {
    font: 600 4rem 'Montserrat', sans-serif;
}

.container h4 {
    font-weight: 400;
}

.panel-score {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 4rem;
    margin-top: 2rem;
}

.panel-score .stars {
    display: flex;
    justify-content: center;
    align-items: center;
}


.panel-score .stars svg {
    width: 1.5rem;
}

.panel-score .stars img{
    display: block;
    width: 1.5rem;
    height: 1.5rem;
}

.panel-score .timer {
    display: flex;
    gap: 0.2rem
}

.panel-score .moves {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.panel-score .reset g {
    stroke: black;
}

.panel-cards {
    margin-top: 1rem;

    background: linear-gradient(160deg, #c6dce4 0%, #ff8800 100%);
    border-radius: 1rem;
    padding: 3rem;
}

.panel-cards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

}

.panel-cards ul .card {
    width: 12.5rem;
    height: 12.5rem;
    background-color: #2e3d49;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    transition: background .1s;
}

.panel-cards ul .card img {
    opacity: 0;
    transition: opacity .1s;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

.panel-cards ul .card.active {
    background-color: lightblue;
}

.panel-cards ul .card.disable{
    pointer-events: none;
    cursor: default;
}


.panel-cards ul .card.active img {
    opacity: 1;
}